# C++ config
.vscode/

# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Linker files
*.ilk

# Debugger Files
*.pdb

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app

# debug information files
*.dwo

# 先忽略所有文件
*

# 但不要忽略文件夹，不然进不到子目录
!*/

# 保留所有 .cpp 文件（包括任意子目录下的）
!*.cpp

# 保留 .gitignore 自己
!.gitignore

*.json
